@charset "UTF-8";
// style config
$containerId: #n256-news-container !default; //容器id
$containerW:auto !default; // 容器宽
$borderC: #d8dbe5 !default; // 容器边框颜色
$fontF: "微软雅黑" !default; // 容器内字体类型
$newsListW:auto !default; // 每个新闻的宽度
$newsM:0px 0px 0px 20px !default; // 每个新闻的margin
$newsP:20px 0px 20px 0px !default; // 每个新闻的padding

$singleImgSize:180px 120px !default; // 单图新闻中图片的宽高
$singleImgM: 0 10px 0 0 !default; //单图新闻中图片的margin
$multiImgSize: 180px 120px !default; // 多图新闻中图片的宽高
$multiImgM: 0px 10px 12px 0px !default; // 多图新闻中图片的margin
$baiduAdP: 0 0 0 0 !default; // 百度广告padding

$titleFont: 12px !default; // 标题字体大小
$titleHeight: 32px !default;//标题高度
$titleLineHeight: 16px !default;//标题字体行间距
$titleFontWeight: bold !default;//标题字号
$titleM: 0 0 8px 0 !default;//标题margin
$scrollbar-width: 10px !default;// 滚动条宽度
$scrollbar-background:#F5F5F5 !default;// 滚动条背景颜色
$scrollbar-color:#555 !default;// 滚动条颜色

#{$containerId}{
  font-family: $fontF;
  width:$containerW;
  margin:0 auto;
  overflow: hidden;
  position: relative;
  border:1px solid $borderC;
  // reset css start
  text-align: left;
  li{
    list-style: none;
    margin:0;
    margin:0;
    overflow: hidden;
  }
  a{
    color:black;
    text-decoration: none;
  }
  p{
    margin:0;
    padding:0;
  }
  p,div,ul,li,ol,dt,dd{
    margin:0;
    padding:0;
  }
  img{
    border:none;
    -webkit-transition: .6s ease;
    -ms-transition: .6s ease;
    -moz-transition: .6s ease;
    transition: .6s ease;
  }
  img:hover{
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  ::-webkit-scrollbar
  {
      width: $scrollbar-width;
      height: $scrollbar-width;
      background-color: $scrollbar-background;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: $scrollbar-width / 2;
      background-color: $scrollbar-background;
  }

  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb
  {
      border-radius: $scrollbar-width / 2;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: $scrollbar-color;
  }
  // reset css end
  // public start
  .hide{
    display: none !important;
  }
  .active-tab-item{
      display:block!important;
  }
  .btn{
    border: 1px solid #eee;
    cursor:pointer;
    color:#5cc1df;
    margin-top:10px;
    border-radius:5px;
  }

  // public end
  .n256-news-tab{
    // overflow: hidden;
    // background: white;
    // line-height: $tabLineHeight;
    // width:100%;
    // color:#666;
    // font-size: 20px;
    border-bottom: 1px solid $borderC;
    span{
      cursor: pointer;
    }
    .tab-icon{
      // height:22px;
      // vertical-align: middle;
      // margin-right:5px;
      // margin-top:-4px;
      &:hover{
        transform: none;
      }
    }
  }
  .n256-tab-item-container{
    position:relative;
  }
  .n256-tab-item{
      display:none;
      overflow: hidden;
      width:$newsListW;
  }
  .n256-news-item-singleImg, .n256-news-item-multiImg, .n256-news-item-bigImg{
    display: block;
    border-bottom:1px solid #eee;
    padding:$newsP;
    margin: $newsM;
    cursor:pointer;
    &:hover{
      background: #eee;
    }
  }
  .n256-news-item-singleImg {
    .n256-news-img{
      margin:$singleImgM;
      float:left;
      overflow: hidden;
      font-size: 0;
      width:nth($singleImgSize, 1);
      height:nth($singleImgSize, 2);
      position: relative;
      img{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        width:100%;
      }
    }
    .n256-news-content{
      height:nth($singleImgSize, 2);
      overflow: hidden;
      font-size: 0;
      line-height: nth($singleImgSize, 2);
      .content{
        display:inline-block;
        line-height: 1;
        vertical-align: middle;
      }
      .title{
        display:block;
        overflow: hidden;
        font-size: $titleFont;
        line-height: $titleLineHeight;
        font-weight: $titleFontWeight;
        height: $titleHeight;
        margin:$titleM;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        &:hover{
          color:#f30;
          text-decoration: underline;
        }
      }
    }
  }
  .n256-news-info{
    //margin-top:14px;
    color:#999;
    line-height: 18px;
    font-size:12px;
    .type{
      display:inline-block;
      width:34px;
      line-height:18px;
      color:#7fc0dc;
      border:1px solid;
      text-align: center;
    }
    span{
      margin-right:12px;
    }
  }
  .n256-news-item-multiImg{
    display:block;
    .title{
      &:hover{
        color:#f30;
        text-decoration: underline;
      }
      font-weight: bold;
      font-size: 20px;
      margin-bottom:12px;
      display: block;
      padding:0;
    }
    ul{
      overflow: hidden;
      li{
        float:left;
        height:nth($multiImgSize, 2);
        width:nth($multiImgSize, 1);
        margin:$multiImgM;
        position: relative;
        img{
          width:100%;
          top:0;
          bottom:0;
          margin:auto;
          position: absolute;
        }
      }
    }
  }
  .n256-news-loadnotice,.n256-load-more-btn{
    line-height:30px;
    text-align: center;
    cursor:pointer;
    //width:$newsListW;
    //float:left;
  }
  .fixed-position{
    position:fixed;
    bottom:0;
  }
  .n256-nonews-notice {
    width:$newsListW;
    a{
      display:block;
      line-height:30px;
      text-align: center;
    }
  }
  .n256-news-item-bigImg {
    display:block;
    .title{
      font-weight: bold;
      font-size: 20px;
      margin-bottom:12px;
      display: block;
      padding:0;
      cursor:pointer;
      &:hover{
        color:#f30;
        text-decoration: underline;
      }
    }
    .big-img{
      width:nth($multiImgSize, 1) * 3 + nth($multiImgM, 2) * 2;
      overflow: hidden;
      img{
        width:100%;
        display: block;
      }
    }
  }
  .ad-baidu{
    padding: $baiduAdP;
    overflow: hidden;
    iframe{
      display: block;
      border-bottom:1px solid #eee;
    }
  }
}
